In [72]:
import pandas as pd 
notasemillero = pd.DataFrame({'Nombre':['Pedro','Leidy','Luis','Martha','Andrea','Carlos','Felipe','Andres','Julia'],
                              'Semestre':[10,9,7,8,10,9,10,8,9]}) 
print(notasemillero)

   Nombre  Semestre
0   Pedro        10
1   Leidy         9
2    Luis         7
3  Martha         8
4  Andrea        10
5  Carlos         9
6  Felipe        10
7  Andres         8
8   Julia         9

In [73]:
notasemillero['Nota1']=3
notasemillero

   Nombre  Semestre  Nota1
0   Pedro        10      3
1   Leidy         9      3
2    Luis         7      3
3  Martha         8      3
4  Andrea        10      3
5  Carlos         9      3
6  Felipe        10      3
7  Andres         8      3
8   Julia         9      3

In [74]:
notasemillero['Nota2']=[3.1,4.0,2.5,3.5,3.7,4.8,5.0,4.6,5.0]
notasemillero

   Nombre  Semestre  Nota1  Nota2
0   Pedro        10      3    3.1
1   Leidy         9      3    4.0
2    Luis         7      3    2.5
3  Martha         8      3    3.5
4  Andrea        10      3    3.7
5  Carlos         9      3    4.8
6  Felipe        10      3    5.0
7  Andres         8      3    4.6
8   Julia         9      3    5.0

In [75]:
notasemillero.insert(4,'ciudad',['Manizales','Cali','Medellin','Pereira','Popayan','Cucuta','Pasto','Cartagena','Santa Marta'])
notasemillero

   Nombre  Semestre  Nota1  Nota2       ciudad
0   Pedro        10      3    3.1    Manizales
1   Leidy         9      3    4.0         Cali
2    Luis         7      3    2.5     Medellin
3  Martha         8      3    3.5      Pereira
4  Andrea        10      3    3.7      Popayan
5  Carlos         9      3    4.8       Cucuta
6  Felipe        10      3    5.0        Pasto
7  Andres         8      3    4.6    Cartagena
8   Julia         9      3    5.0  Santa Marta

In [76]:
notasemillero = notasemillero.assign(departamento=['Caldas','Valle del Cauca','Antoquia','Risalda','Santander','Norte de santander','Nariño','Bolivar','Magdanela'])
notasemillero

   Nombre  Semestre  Nota1  Nota2       ciudad        departamento
0   Pedro        10      3    3.1    Manizales              Caldas
1   Leidy         9      3    4.0         Cali     Valle del Cauca
2    Luis         7      3    2.5     Medellin            Antoquia
3  Martha         8      3    3.5      Pereira             Risalda
4  Andrea        10      3    3.7      Popayan           Santander
5  Carlos         9      3    4.8       Cucuta  Norte de santander
6  Felipe        10      3    5.0        Pasto              Nariño
7  Andres         8      3    4.6    Cartagena             Bolivar
8   Julia         9      3    5.0  Santa Marta           Magdanela

In [77]:
#Para este caso debemos conocer la posicion nuestra fila
notasemillero.loc[10]=['lucia',7,4.5,3.5,'Armenia','Quindio']
notasemillero.loc[3]=['Carolina',7,4.5,3.5,'Armenia','Quindio']
notasemillero.loc[13]=['Maria',7,4.5,3.5,'Armenia','Quindio']
notasemillero

      Nombre  Semestre  Nota1  Nota2       ciudad        departamento
0      Pedro        10    3.0    3.1    Manizales              Caldas
1      Leidy         9    3.0    4.0         Cali     Valle del Cauca
2       Luis         7    3.0    2.5     Medellin            Antoquia
3   Carolina         7    4.5    3.5      Armenia             Quindio
4     Andrea        10    3.0    3.7      Popayan           Santander
5     Carlos         9    3.0    4.8       Cucuta  Norte de santander
6     Felipe        10    3.0    5.0        Pasto              Nariño
7     Andres         8    3.0    4.6    Cartagena             Bolivar
8      Julia         9    3.0    5.0  Santa Marta           Magdanela
10     lucia         7    4.5    3.5      Armenia             Quindio
13     Maria         7    4.5    3.5      Armenia             Quindio

In [78]:
notasemillero=notasemillero.append({'Nombre':'Laurita','Semestre':9,'Nota1':3.8,'Nota2':4,'ciudad':'Armenia','departamento':'Quindio'},ignore_index=True)
notasemillero

      Nombre  Semestre  Nota1  Nota2       ciudad        departamento
0      Pedro        10    3.0    3.1    Manizales              Caldas
1      Leidy         9    3.0    4.0         Cali     Valle del Cauca
2       Luis         7    3.0    2.5     Medellin            Antoquia
3   Carolina         7    4.5    3.5      Armenia             Quindio
4     Andrea        10    3.0    3.7      Popayan           Santander
5     Carlos         9    3.0    4.8       Cucuta  Norte de santander
6     Felipe        10    3.0    5.0        Pasto              Nariño
7     Andres         8    3.0    4.6    Cartagena             Bolivar
8      Julia         9    3.0    5.0  Santa Marta           Magdanela
9      lucia         7    4.5    3.5      Armenia             Quindio
10     Maria         7    4.5    3.5      Armenia             Quindio
11   Laurita         9    3.8    4.0      Armenia             Quindio

In [79]:
notasemillero.iloc[5,4]='Cartago'

In [80]:
df1=(notasemillero[['Nota1','Nota2']])
print(df1)

    Nota1  Nota2
0     3.0    3.1
1     3.0    4.0
2     3.0    2.5
3     4.5    3.5
4     3.0    3.7
5     3.0    4.8
6     3.0    5.0
7     3.0    4.6
8     3.0    5.0
9     4.5    3.5
10    4.5    3.5
11    3.8    4.0

In [81]:
print(notasemillero.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        12 non-null     object
 1   Semestre      12 non-null     int64
 2   Nota1         12 non-null     float64
 3   Nota2         12 non-null     float64
 4   ciudad        12 non-null     object
 5   departamento  12 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 704.0+ bytes
None

In [82]:
#Imprimir filas, Paso los indices en una lista haciendo uso del metodo
print(notasemillero.iloc[[2,3,8,9]])

     Nombre  Semestre  Nota1  Nota2       ciudad departamento
2      Luis         7    3.0    2.5     Medellin     Antoquia
3  Carolina         7    4.5    3.5      Armenia      Quindio
8     Julia         9    3.0    5.0  Santa Marta    Magdanela
9     lucia         7    4.5    3.5      Armenia      Quindio

In [83]:
df3=notasemillero.append({'Nombre':'carmen'},ignore_index=True)
df3

      Nombre  Semestre  Nota1  Nota2       ciudad        departamento
0      Pedro      10.0    3.0    3.1    Manizales              Caldas
1      Leidy       9.0    3.0    4.0         Cali     Valle del Cauca
2       Luis       7.0    3.0    2.5     Medellin            Antoquia
3   Carolina       7.0    4.5    3.5      Armenia             Quindio
4     Andrea      10.0    3.0    3.7      Popayan           Santander
5     Carlos       9.0    3.0    4.8      Cartago  Norte de santander
6     Felipe      10.0    3.0    5.0        Pasto              Nariño
7     Andres       8.0    3.0    4.6    Cartagena             Bolivar
8      Julia       9.0    3.0    5.0  Santa Marta           Magdanela
9      lucia       7.0    4.5    3.5      Armenia             Quindio
10     Maria       7.0    4.5    3.5      Armenia             Quindio
11   Laurita       9.0    3.8    4.0      Armenia             Quindio
12    carmen       NaN    NaN    NaN          NaN                 NaN

In [85]:
print(df3.dropna())

      Nombre  Semestre  Nota1  Nota2       ciudad        departamento
0      Pedro      10.0    3.0    3.1    Manizales              Caldas
1      Leidy       9.0    3.0    4.0         Cali     Valle del Cauca
2       Luis       7.0    3.0    2.5     Medellin            Antoquia
3   Carolina       7.0    4.5    3.5      Armenia             Quindio
4     Andrea      10.0    3.0    3.7      Popayan           Santander
5     Carlos       9.0    3.0    4.8      Cartago  Norte de santander
6     Felipe      10.0    3.0    5.0        Pasto              Nariño
7     Andres       8.0    3.0    4.6    Cartagena             Bolivar
8      Julia       9.0    3.0    5.0  Santa Marta           Magdanela
9      lucia       7.0    4.5    3.5      Armenia             Quindio
10     Maria       7.0    4.5    3.5      Armenia             Quindio
11   Laurita       9.0    3.8    4.0      Armenia             Quindio

In [86]:
print(df3.describe())

        Semestre      Nota1      Nota2
count  12.000000  12.000000  12.000000
mean    8.500000   3.441667   3.933333
std     1.243163   0.677507   0.788939
min     7.000000   3.000000   2.500000
25%     7.000000   3.000000   3.500000
50%     9.000000   3.000000   3.850000
75%     9.250000   3.975000   4.650000
max    10.000000   4.500000   5.000000

In [ ]:
df3['Nota Final']=(df3['Nota1'])